:root {
  --navcolor: #f1eaff;
  --navcolorhover: #ffffff;
  --headercolor: #202059;
  --mainheading: #f1eaff;
  --sectionheading: #202059;
  --linkcolor: #5a1d67;
  --sectioncolor: #d9e2de;
  --accentcolor: #e9831e;
  --lighttextcolor: #ffffff;
  --footerbgcolor: #0b3856;
  --hover-brightness: 1.2;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
p,
a {
  padding: 1rem;
  margin-block-end: 1rem;
  line-height: 1.5;
}
.header {
  position: relative;
  height: 60vh;
  background-image: url("assets/images/main-img.jpeg");
  background-size: cover;
  justify-content: center;
  /* background-attachment: fixed; */
}

.header::before {
  content: "";
  display: block;
  background-color: var(--headercolor);
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.mobile {
  display: none;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2.8rem;
  color: var(--sectionheading);
  font-weight: bold;
}
h3 {
  font-size: 2rem;
  color: var(--sectionheading);
  font-weight: bold;
}
p,
a,
label {
  font-size: 1.6rem;
}
a:hover {
  cursor: pointer;
}
.nav {
  position: absolute;
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  z-index: 4;
}
.nav > * {
  margin-top: 2rem;
  flex: 1 2 0;
}
.portfolio-name {
  flex-grow: 1.5;
  text-align: center;
  color: var(--mainheading);
}
.menu {
  display: flex;
}
.menu > * {
  font-size: 2rem;
  text-transform: uppercase;
}
.menu:last-child {
  flex-grow: 2;
}
.menu > li > a {
  text-decoration: none;
  color: var(--navcolor);
}
.menu > li > a:hover {
  cursor: pointer;
  color: var(--navcolorhover);
}
.welcome-text {
  font-size: 5.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--mainheading);
  z-index: 3;
}
.main {
  margin: 0 auto;
}
.section {
  margin-block-start: 10rem;
  margin-block-end: 2rem;
  padding: 4rem;
}
.projects {
  display: flex;
  gap: 5rem;
}
.projects > * {
  flex: 1 1 calc(100% / 3);
}
.project {
  border: 1px solid grey;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 7px;
  padding-block-end: 2rem;
}

.project > figure > img {
  max-width: 100%;
}
.project > p {
  font-style: italic;
}
.project > a {
  color: var(--linkcolor);
  text-decoration: none;
}

.section__img {
  width: 30rem;
  float: right;
  margin-inline-start: 2rem;
  margin-block-end: 2rem;
}
.about {
  background-color: var(--sectioncolor);
  padding-block-end: 10rem;
}

.skills {
  display: flex;
  gap: 3rem;
  margin-block-end: 5rem;
  flex-wrap: wrap;
}

.skills > * {
  flex: 1 1 calc(100% / 4);
}
.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  padding: 3rem;
}
i {
  font-size: 5rem;
  color: var(--sectionheading);
}
.skill-card:nth-child(odd) {
  background-color: #e4e4e4;
}
.skill-card:nth-child(even) {
  background-color: #f7f7f7;
}
div.progress {
  position: relative;
  display: block;
  width: 14rem;
  height: 2rem;
  background-color: #dfd6e2;
}
.progress::after {
  position: absolute;
  height: 2rem;
  content: "";
  background-color: #e9831e;
}
.progress.html::after {
  width: 80%;
}
.progress.css::after {
  width: 80%;
}
.progress.javascript::after {
  width: 80%;
}
.progress.react::after {
  width: 60%;
}
.footer {
  background-color: var(--footerbgcolor);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer > * {
  color: var(--lighttextcolor);
}
form {
  padding: 1rem;
  margin-block-start: 10rem;
  margin-block-end: 10rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-items: center;
}
form > h2 {
  text-align: center;
  color: var(--lighttextcolor);
}

.form__field {
  display: flex;
  padding: 0.5rem;
  margin-block-end: 2rem;
}
.form__field > label {
  flex: 1;
}
.form__field > input,
textarea {
  flex: 2;
}
input {
  height: 3rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
}
textarea {
  height: 10rem;
  border-radius: 0.5rem;
}
.form__button {
  width: 20rem;
  align-self: center;
  background-color: var(--accentcolor);
}
.form__button:hover {
  cursor: pointer;
  background-color: var(--accentcolor);
  filter: brightness(70%);
}
.btn {
  padding: 1.5rem 1.5rem;
  border: none;
  color: var(--lighttextcolor);
  text-transform: uppercase;
  border-radius: 0.5rem;
  text-decoration: none;
  filter: brightness(100%);
}
.back {
  background-color: var(--footerbgcolor);
}
.back:hover {
  cursor: pointer;
  background-color: var(--footerbgcolor);
  filter: brightness(70%);
}

i.hide {
  display: none;
}

/* Larger screens - desktops and laptops */
@media only screen and (min-width: 1441px) {
  /* Styles for screens 1200 pixels and wider */
  /* .header {
    height: vh;
  } */
  .portfolio-name {
    flex-grow: 3;
    text-align: justify;
    margin-left: 20rem;
  }
  .main {
    max-width: 70%;
  }
  .skills {
    flex-wrap: nowrap;
  }
}

/* Medium screens - tablets and smaller desktops */
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  /* @media only screen and (max-width: 1199px) { */
  /* Styles for screens between 992 and 1199 pixels wide */
  .header {
    height: 35vh;
  }
  .main {
    width: 90%;
  }
  .menu:last-child {
    flex-grow: 3;
  }
  .welcome-text {
    font-size: 4.2rem;
  }
  .skill-card {
    height: 16rem;
  }
  form {
    width: 60%;
    margin-block-start: 5rem;
    margin-block-end: 5rem;
  }
}

/* Small screens - tablets and large phones */
@media only screen and (max-width: 991px) and (min-width: 769px) {
  /* @media only screen and (max-width: 991px) { */
  /* Styles for screens between 768 and 991 pixels wide */
  .header {
    height: 30vh;
  }
  .menu {
    justify-content: space-between;
    margin: 0;
  }
  .menu > * {
    font-size: 1.2rem;
  }
  .menu > li > a {
    padding: 0;
  }
  .menu:last-child {
    flex-grow: 4;
  }
  .portfolio-name {
    flex-grow: 1;
    text-align: justify;
  }
  .welcome-text {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  .main {
    width: 100%;
  }
  .projects {
    gap: 2rem;
  }
  .skills {
    flex-wrap: wrap;
    gap: 4rem;
  }
  .skills > * {
    flex: 1 1 calc(100% / 3);
    padding: 2rem;
  }
  form {
    width: 80%;
    margin-block-start: 5rem;
    margin-block-end: 5rem;
  }
}

/* Extra small screens - phones */
@media only screen and (max-width: 768px) {
  /* Styles for screens 767 pixels and narrower */
  .header {
    height: 20vh;
  }
  nav {
    /* flex-direction: column; */
  }
  .portfolio-name {
    flex-grow: 8;
  }
  .menu {
    position: absolute;
    flex-direction: column;
    background-color: var(--headercolor);
    z-index: 20 !important;
    top: 10rem;
    right: -100%;
    width: 100%;
  }
  .menu {
    display: none;
  }
  .menu.show {
    display: block;
    animation: moveLeft 0.3s ease-in;
    animation-fill-mode: forwards;
  }
  .menu {
    display: block;
    animation: moveRight 0.3s ease-in;
    animation-fill-mode: forwards;
  }
  .closebutton {
    display: block;
  }
  .openbutton.hide {
    display: none;
  }

  .menu > li {
    padding: 1.5rem;
    border: 1px solid var(--mainheading);
  }
  .menu > li > a {
    display: block;
    width: 100%;
  }
  .mobile {
    display: block;
  }
  .mobile > i {
    color: var(--mainheading);
    font-size: 3rem;
  }
  .section__box > p {
    display: flex;
    flex-direction: column;
  }
  .section__box > p > img {
    float: none;
    margin-inline-start: 0;
  }

  .footer {
    padding: 2rem;
  }
  form {
    width: 70%;
  }
  form > * {
    flex: 1 1 8rem;
  }
  .form__field {
    flex-direction: column;
  }
  .form__button {
    width: 15rem;
    flex-basis: 5%;
  }
  input[type="text"] {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 426px) {
  .menu {
    top: 8rem;
  }
  .welcome-text{
    font-size: 3rem;
  }
  .projects {
    flex-direction: column;
  }
  .skills {
    flex-direction: column;
  }
  .footer {
    padding: 1rem;
  }
  form {
    width: 100%;
  }
  .section__img {
    max-width: 100%;
  }
}

@keyframes moveLeft {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes moveRight {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}
