:root {
  --textColor: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
}
p {
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: normal;
}
header {
  position: relative;
  background-color: #8e8ffa;
  background-image: url("images/main-img.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}
header::before {
  content: "";
  position: absolute;
  background-color: #180f14;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: 2;
}
.nav {
  position: absolute;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  align-items: center;
  z-index: 3;
}
.portfolio-name {
  font-size: 3.6rem;
  margin-left: 6rem;
  color: var(--textColor);
}

.menu {
  display: flex;
  font-size: 2.2rem;
  justify-content: flex-end;
}
ul {
  list-style: none;
}
li.menu_item a {
  width: 20rem;
  margin-right: 4rem;
  text-decoration: none;
  color: var(--textColor);
  font-weight: 500;
}

.mobile {
  display: none;
}

.main {
  width: 70%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  font-size: 5.6rem;
  z-index: 3;
}
h2 {
  color: purple;
  font-size: 2.2rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
  font-weight: bold;
}
h3 {
  color: #190482;
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

section,
.section {
  padding-top: 4rem;
  margin: 4rem auto 5rem auto;
}

.section__box {
  display: block;
}

img.section__img {
  width: 20rem;
  height: auto;
}
.section__img--right {
  margin-left: 5rem;
  float: right;
}
.section__img--left {
  margin-right: 5rem;
  float: left;
}

.projects {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.project {
  width: 25rem;
  padding: 1rem 1rem 3rem 1rem;
  border: 1px solid #c2d9ff;
  border-radius: 1rem;
  flex-basis: 1;
}
.project > img {
  width: 25rem;
  border-radius: 5px;
}
a.btn {
  border: none;
  color: purple;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.6rem;
}
.skills {
  /* flex-grow: 1; */
  /* flex-basis: 20%; */
  padding-bottom: 5rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.skills > :nth-child(even) {
  background-color: #e5e3e5;
}
.skill-card {
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 18rem;
  background-color: #f2eaf4;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  flex-basis: 1;
}
.skill-card h3 {
  color: #1a082f;
}

span > i {
  font-size: 6rem;
  color: #1a082f;
}

div.level {
  position: relative;
  display: block;
  width: 14rem;
  height: 2rem;
  background-color: #dfd6e2;
}
.level::after {
  position: absolute;
  height: 2rem;
  content: "";
  background-color: #e9831e;
}
.level.html::after {
  width: 13rem;
}
.level.css::after {
  width: 13rem;
}
.level.javascript::after {
  width: 13rem;
}
.level.react::after {
  width: 8rem;
}
footer {
  background-color: #1a082f;
  padding: 5rem;
}
form > h2 {
  color: #ffffff;
  text-align: center;
}
form {
  display: flex;
  width: 70rem;
  flex-direction: column;
  color: #ffffff;
  font-size: 1.6rem;
  margin: 0 auto;
}
.form__field {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem;
}

.form__input {
  width: 40rem;
  border-radius: 4px;
  padding: 1rem;
  border: none;
}
.form__button {
  width: 20rem;
  padding: 1rem 1.5rem;
  background-color: #8e8ffa;
  border: none;
  text-transform: uppercase;
  color: white;
  border-radius: 4px;
  align-self: center;
  margin-top: 3rem;
}
.copyright {
  color: white;
  width: 15rem;
  margin: 2rem auto;
}

@media only screen and (max-width: 1025px) {
  .main {
    width: 90%;
  }
  .menu{
    display: flex;
  }
}

@media only screen and (max-width: 780px) {
  .main {
    width: 90%;
  }
  header {
    height: 40vh;
  }
  h1 {
    font-size: 2.8rem;
    top: 40%;
    width: 100%;
  }
  h3 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.4rem;
  }
  .portfolio-name {
    font-size: 1.8rem;
    margin-left: 2rem;
  }
  .menu {
    display: flex;
    font-size: 1.6rem;
  }

  .mobile i {
    display: block;
    font-size: 2rem;
    color: var(--textColor);
    cursor: pointer;
  }
  .project {
    width: 20rem;
    padding: 1rem 1rem 3rem 1rem;
    border: 1px solid #c2d9ff;
    border-radius: 1rem;
  }
  .project > img {
    width: 20rem;
    border-radius: 5px;
  }
  a.btn {
    border: none;
    color: purple;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.6rem;
  }
  .section {
    margin-top: 0;
  }
  .section__box > p {
    display: flex;
    flex-direction: column;
  }
  p > .section__img--left,
  p > .section__img--right {
    margin: 0;
    margin-bottom: 5rem;
    align-items: center;
    align-content: center;
  }

  .skill-card {
    display: flex;
    flex-grow: 1;
    width: 10rem;
    height: 10rem;
    background-color: #f2eaf4;
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }
  .skill-card h3 {
    color: #1a082f;
  }

  span > i {
    font-size: 3rem;
    color: #1a082f;
  }

  div.level {
    position: relative;
    display: block;
    width: 7rem;
    height: 1rem;
    background-color: #dfd6e2;
  }
  .level::after {
    position: absolute;
    height: 1rem;
    content: "";
    background-color: #e9831e;
  }
  .level.html::after {
    width: 6.5rem;
  }
  .level.css::after {
    width: 6.5rem;
  }
  .level.javascript::after {
    width: 6.5rem;
  }
  .level.react::after {
    width: 4rem;
  }

  footer {
    padding: 2rem;
  }
  form {
    display: flex;
    width: 100%;
    flex-direction: column;
    color: #ffffff;
    font-size: 1.6rem;
    /* margin: 0 auto; */
    align-items: center;
  }
  .form__field {
    flex-direction: column;
    gap: 1rem;
  }
  .form__input {
    width: 25rem;
    border-radius: 4px;
    padding: 1rem;
  }
  .copyright {
    color: white;
    margin: 2rem auto;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    width: 90%;
  }
 .menu{
  display: flex;
 }

  h1 {
    font-size: 2rem;
  }
  .projects {
    align-content: center;
    flex-direction: column;
  }
  /* .skills {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  } */
  .mobile {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  /* .menu_item {
    display: none;
  } */
  .portfolio-name {
    font-size: 2.2rem;
    margin-left: 2rem;
  }
  .menu {
    display: none;
  }
  .menu {
    flex-direction: column;
    font-size: 1.6rem;
    position: absolute;
    top: 7rem;
    left: 0;
    background-color: #7f858f;
    width: 100%;
    z-index: 4;
  }

  .menu_item {
    padding: 1.5rem;
    border: 1px solid #ffffff;
  }
  li.menu_item > a{
    display: block;
    width: 100%;
  }

  h1 {
    z-index: 2;
  }

  .skills {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  h1 {
    font-size: 3rem;
  }
}

.show{
  display: flex;
}
